body {
  max-width: 1100px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: space-around;
}

.head {
  padding: 20px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  border-radius: 100px;
  background: linear-gradient(90deg,#ffaa0caf, #02d9ffcc,#dbff0caf);
}

.block__header {
  text-align: center;
  font-family: 'Righteous', cursive;
  letter-spacing: 10px;
  font-size: 30px;
}

.block__header::before,

.block__header::after {
  content: "★";
  color: #3f3f3f;
}

.lists__row {
  align-items: center;
}

.lists__cell {
  margin: 20px;
  padding: 10px 50px;
  border-radius: 20px;
  background: linear-gradient(#a2ff0caf, #00ccffb0);
}

.par__content {
  word-spacing: 5px;
  font-style: italic;
}

.par__text {
  letter-spacing: 5px;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #d68a33;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

th {
  background: #cebceb;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: #a9f891;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

pre {
  background-color: #ccc6c6;
  border-radius: 12px;
  line-height: 30px;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

 .list {
   background-color: #008100;
 }

 .circle {
   list-style-type: circle;
 }

 .cat {
   width: 360px;
   height: 250px;
 }